APP_ENV=development
APP_HTTP_ADDR=:8080

POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/data_product_platform?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

OBJECT_STORAGE_ENDPOINT=localhost:9000
OBJECT_STORAGE_ACCESS_KEY=minio
OBJECT_STORAGE_SECRET_KEY=minio123
OBJECT_STORAGE_BUCKET=data-product-platform
OBJECT_STORAGE_USE_SSL=false

INDUSTRY_PACK_ROOT=../../industry-packs

# Optional adapters
OPENMETADATA_ENABLED=false
OPENMETADATA_BASE_URL=
OPENMETADATA_TOKEN=
OPENMETADATA_DOMAIN=

HOP_ENABLED=false
HOP_SERVER_URL=
HOP_SERVER_USERNAME=
HOP_SERVER_PASSWORD=

SPLINK_SERVICE_URL=
QUALITY_ENGINE_URL=
COMPLIANCE_ENGINE_URL=
